section.about#about
   .container.about__container
      h2.about__title.title О нас
      .about__content
         .about__text-block
            p.about__text 
               span WebPerspective
               | – это маркетинговое агентство, которое выросло от команды фрилансеров до агенства полного цикла. 
            p.about__text Мы начинали, как объединение маркетологов и программистов, завоевывали лояльность клиентов и увеличивали их число. 
            p.about__text Теперь наша команда состоит из опытных маркетологов, программистов, копирайтеров, дизайнеров, оптимизаторов и проектных менеджеров.
            p.about__text Мы уверенно стоим на ногах и можем предложить свой опыт и знания бизнесу!
         .about__image-block
            img.about__image-img(src=require("../../images/img/about-image.png"), alt="image company")

      .about__values
         .value.about__value
            .about__value-text 
               h3.value__title 10 лет в сфере маркетинга
               p.value__description Наши специалисты не первый год в деле, за плечами масса проделанной работы
            img.about__icon(src=require("../../images/icons/about/about-icon-01.svg"), alt="marketing-icon")
         .value.about__value
            .about__value-text 
               h3.value__title Эксперты в своем деле
               p.value__description Занимаемся только тем, что действительно умеем
            img.about__icon(src=require("../../images/icons/about/about-icon-02.svg"), alt="marketing-icon")
         .value.about__value
            .about__value-text 
               h3.value__title Ценим долгосрочное сотрудничество
               p.value__description Каждый партнёр для нас имеет значение, причём первоочередное. Так как, нет клиента - нет бизнеса 
            img.about__icon(src=require("../../images/icons/about/about-icon-03.svg"), alt="marketing-icon")
         .value.about__value
            .about__value-text 
               h3.value__title Растем вместе с нашими партнерами
               p.value__description Удовлетворенность каждого клиента полученным результатом приоритет компании
            img.about__icon(src=require("../../images/icons/about/about-icon-04.svg"), alt="marketing-icon")