section.advantages(id="advantages")
   .advantages__container
      .advantages__grid
         .advantages__item
            img.advantages__icon(src=require("../../images/icons/advantages/advantages-001.svg"), alt="Удобное время занятий")
            h6.advantages__title Профессиональные 
               br 
               | тренеры
         .advantages__item.advantages__item1
            img.advantages__icon(src=require("../../images/icons/advantages/advantages-002.svg"), alt="Удобное время занятий")
            h6.advantages__title Разнообразные 
               br
               | тренировки
         .advantages__item
            img.advantages__icon(src=require("../../images/icons/advantages/advantages-003.svg"), alt="Удобное время занятий")
            h6.advantages__title Дружная
               br
               | команда
         .advantages__item
            img.advantages__icon(src=require("../../images/icons/advantages/advantages-004.svg"), alt="Удобное время занятий")
            h6.advantages__title Индивидуальный 
               br
               | подход
         .advantages__item.advantages__item1
            img.advantages__icon(src=require("../../images/icons/advantages/advantages-005.svg"), alt="Удобное время занятий")
            h6.advantages__title Семейные 
               br 
               | скидки
         .advantages__item
            img.advantages__icon(src=require("../../images/icons/advantages/advantages-006.svg"), alt="Удобное время занятий")
            h6.advantages__title Мероприятия и 
               br 
               |соревнования
