header.header
   .header__container
      .header__logo
         a.header__logo-link(href="/")
            img.header__logo-img(src=require("../../images/icons/header/logo-header.svg"), alt="logo")
      
      a.header__burger
         span.burger-icon 
      nav.header__nav
         a.header__close 
         a.header__logo-mobile-link(href="/")
            img.header__logo-mobile-img(src=require("../../images/icons/header/logo-header-mobile.svg"), alt="logo")
         ul.header__nav-list
            li.header__nav-item
               a.header__nav-link(href="#development") Создание сайтов
            li.header__nav-item
               a.header__nav-link(href="#marketing") Продвижение
            li.header__nav-item
               a.header__nav-link(href="#portfolio") Портфолио
            li.header__nav-item
               a.header__nav-link(href="#about") О нас
            li.header__nav-item
               a.header__nav-link(href="#contacts") Контакты
            li.header__nav-item

         .header__contact
            .social-media__item 
               a(href="https://wa.me/79675559830" rel="nofollow" target="blank").social-media__link 
                  img.social-media-img(src=require("../../images/icons/header/whatsapp.svg"), alt="whatsapp")
               .social-media__shadow 
            .social-media__item 
               a(href="https://t.me/WebPerspective" rel="nofollow" target="blank").social-media__link 
                  img.social-media-img(src=require("../../images/icons/header/telegram.svg"), alt="telegram")
               .social-media__shadow 
            //- .social-media__item 
            //-    a(href="https://vk.com/webperspective" rel="nofollow" target="blank").social-media__link 
            //-       img.social-media-img(src=require("../../images/icons/header/vk.svg"), alt="vk")
            //-    .social-media__shadow 
         a.header__contact-phone(href="tel:+79675559830" rel="nofollow") +7 (967) 555-98-30